{% extends 'comunes/base.html' %}
{% block navbar %}
    {% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}
    <h1 class="bg bg-info">REGISTRAR SOLICITUD</h1>
    <form action="/solicitudes/registrar" method="post">
        <div class="form-group">
            <label>Id. del Alumno: <b>{{session['usuario'].get('idAlumno')}}</b></label>
        </div>
        <div class="form-group">
            <label>Nombre de Alumno: <b>{{session['usuario'].get('nombre')}}</b></label>
        </div>

        <div class="form-group">
            <label>Proyecto:</label>
            <input type="text" name="proyecto" id="proyecto" class="form-control" required placeholder="Titulo del Proyecto">
        </div>
        <div class="form-group">
            <label>Opción:</label>
            <select name="opcion">
                 <option value="0">-Elige una opción de titulación</option>
                {% if opciones %}
                {% for opcion in opciones %}
                    <option value="{{opcion['idOpcion']}}">{{opcion['nombre']}}</option>
                {% endfor %}
                {% endif %}
            </select>
        </div>
        <button class="btn btn-primary" id="registrar"> <span class="glyphicon glyphicon-ok"></span> Registrar </button>
        <a class="btn btn-success" href="/solicitudes"> <span class="glyphicon glyphicon-arrow-left"></span> Regresar </a>
        {% if get_flashed_messages()%}
            {% for m in get_flashed_messages()%}
            <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{m}}</strong>
            </div>
            {% endfor %}
        {% endif %}
    </form>
{% endblock %}