{% extends 'comunes/base.html' %}
{% block navbar %}
    {% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}
    <h1 class="bg bg-info">EDITAR SOLICITUD</h1>
    <form action="/solicitudes/modificar" method="post">
        <div class="form-group">
            <label>ID:</label>
            <input type="text" name="idSolicitud" value="{{solicitud['idSolicitud']}}" readonly class="form-control">
        </div>

        <div class="form-group">
            <label>Proyecto:</label>
            <input type="text" name="tema" value="{{solicitud['tema']}}" class="form-control" required placeholder="Titulo del Proyecto">
        </div>
        <div class="form-group">
            <label>Opción:</label>
            <select name="idOpcion">
                <option>-Elige una opción de titulación</option>
                {% if opciones %}
                {% for opcion in opciones %}
                    {% if opcion['idOpcion']==solicitud['opcion'].get('idOpcion') %}
                        <option value="{{opcion['idOpcion']}}" selected>{{opcion['nombre']}}</option>
                    {% else %}
                        <option value="{{opcion['idOpcion']}}">{{opcion['nombre']}}</option>
                    {% endif %}
                {% endfor %}
                {% endif %}
            </select>
        </div>
        <div class="form-group">
            <label>Estatus:{{solicitud['estatus']}}</label>
        </div>
        {% if session['usuario'].get('tipo')=='Alumno'and (solicitud['estatus']=='Registro' or solicitud['estatus']=='Rechazada')%}
            <button class="btn btn-primary" id="modificar"> <span class="glyphicon glyphicon-floppy-disk"></span> Guardar </button>
            <a class="btn btn-success" href="/solicitudes/enviar/{{solicitud['idSolicitud']}}"> <span class="glyphicon glyphicon-send"></span> Enviar </a>
            <a class="btn btn-danger" type="button" data-toggle="modal" data-target="#eliminar" > <span class="glyphicon glyphicon-trash"></span> Eliminar </a>
        {% endif %}
        {% if session['usuario'].get('tipo')=='Administrativo' and solicitud['estatus']=='Revision' %}
            <a class="btn btn-info" href="/solicitudes/autorizar/{{solicitud['idSolicitud']}}"> <span class="glyphicon glyphicon-thumbs-up"></span> Autorizar </a>
            <a class="btn btn-default" href="/solicitudes/rechazar/{{solicitud['idSolicitud']}}" > <span class="glyphicon glyphicon-thumbs-down"></span> Rechazar </a>
        {% endif %}
        <a class="btn btn-warning" href="/solicitudes"> <span class="glyphicon glyphicon-arrow-left"></span> Regresar </a>
        {% if get_flashed_messages()%}
            {% for m in get_flashed_messages()%}
            <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{m}}</strong>
            </div>
            {% endfor %}
        {% endif %}
    </form>
    <!-- Modal -->
    <div id="eliminar" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Eliminar Solicitud</h4>
          </div>
          <div class="modal-body">
            <p>¿ Estas seguro de eliminar la solicitud con ID: {{solicitud['idSolicitud']}} ?</p>
          </div>
          <div class="modal-footer">
              <a href="/solicitudes/cancelar/{{solicitud['idSolicitud']}}" class="btn btn-info">Aceptar</a>
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          </div>
        </div>

      </div>
    </div>
{% endblock %}